:root {
    --brand-orange: #FF6B00;
    --brand-black: #1A1A1A;
    --brand-white: #f7f7f7;
    --brand-grey: #d3d3d3;
    --brand-darkgrey: #575757;
}

main {
    /* background-color: #ee5522; */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23d23d09' fill-opacity='0.6'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
    min-height: 100vh; /* WAJIB AKTIF agar memenuhi layar */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    margin: 0;
}

/* Helper classes */
.bg-brand { color: var(--brand-orange); }
.bg-brand-black { background-color: var(--brand-black); }
.text-brand { color: var(--brand-orange); }
.text-brand-white { color: #FFFFFF; }

/* SPLIT-CARD */
main {
    background-color: var(--brand-orange);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* INPUT FIELD */
.input-field {
    border: 1px solid #E5E7EB;
    background-color: #F9FAFB;
    transition: all 0.3s ease;
}

.input-field:focus {
    border-color: var(--brand-orange);
    outline: none;
    box-shadow: 0 0 0 3px rgba(244, 166, 111, 0.15);
}

/* BUTTON */
.btn-primary {
    background-color: var(--brand-orange);
    transition: all 0.3s ease;
}

.btn-primary:hover {
    background-color: #e66000;
    transform: translateY(-1px);
}